body {
    background: url(./images-rm/rick_and_morty.jpg);
    margin: auto;
    width: 100%;
    height: 100vh; /* VH es alto de la ventana. permite adaptacion en dispositivos*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    color: white;
}

h1, h2 {
    text-align: center;
}