/* GENERALES*/
tml {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


* {
	margin: 0;
	padding: 0;
}

body {
  justify-content: center;
  margin: 0px;
  background: #222;
  background: url(./images-rm/fondoplaneta.jpg);
  background-size: cover;
	color: rgb(247, 240, 240);
	font-family: 'Roboto', sans-serif;
}
.header {
  width:100%;
  height: 25%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
}


/* PRESENTACION DE LA DATA */
#view-colecction {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0.8rem 2rem;
  width: 90vw;
  height: 60vh;
  overflow: scroll;
}

#view-colecction::-webkit-scrollbar {
  background-color: #00B3CC;
  height: 0px;
  border-radius: 1rem;
  cursor: pointer;
}
#view-colecction::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1rem;
}

#view-colecction::-webkit-scrollbar-thumb:hover {
  background: #9BF2BA;
  border-radius: 1rem;
  cursor: pointer;
}

.individualcard {
align-items: center;
justify-content: space-between;
background-color: #512286b3;
border-radius: 1rem;
width: 40%;
height: 70%;
margin: 1rem;
display: inline-block;
padding: 2em;
flex-direction: column;
margin-bottom: 2rem;
backface-visibility: hidden;
    vertical-align: center;
}

.portrait img {
width: 48%;
float: left;
border-radius: 2rem;
margin-right: 2rem;
-webkit-filter: drop-shadow(4px 3px 7px #bebebd);
-moz-filter: drop-shadow(4px 3px 7px #bebebd);
filter: drop-shadow(4px 3px 7px #bebebd);
display: inline-flex;
}

.info {
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 0.4rem;
  line-height: 110%;
  /*display: inline;*/
}

#colecction-buttons {
  border-radius: 50px 50%;
  -webkit-border-radius: 50px 50% 50px 0% ;
  -moz-border-radius: 50px 50% 50px 0%;
  padding: 6px 16px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  text-shadow: 1px 2px 3px rgba(0,0,0,0.7);
  color: white;
  background: linear-gradient(top bottom, #ecb51c 0%,#754703 100%);
  background: -moz-linear-gradient(top bottom, #ecb51c 0%, #754703 100%); 
  background: linear-gradient(to bottom, #ecb51c 0%,#754703 100%);
  font-size: 1.1rem;
  font-weight: bold; /* Letra en negrita */
}

#colecction-buttons button {
  cursor: pointer; /* Para que el cursor del ratón cambie */
  border-radius: 50px 50% 0px 0%;
  -webkit-border-radius: 50px 50% 0px 0% ;
  -moz-border-radius: 50px 50% 0px 0%;
  padding: 6px 16px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  text-shadow: 1px 2px 3px rgba(0,0,0,0.7);
  color: white;
  background: linear-gradient(top bottom, #ecb51c 0%,#c40c05 100%);
  background: -moz-linear-gradient(top bottom, #ecb51c 0%,#c40c05 100%); 
  background: linear-gradient(to bottom, #db3e29 0%,#c40c05 100%);
  font-size: 1.1rem;
  font-weight: bold; /* Letra en negrita */
}

select-order { /*boton select a-z /z-a*/
  cursor: pointer; /* Para que el cursor del ratón cambie */
  border-radius: 15px 60% 0px 0%;
  -webkit-border-radius: 15px 60% 0px 0%;
  -moz-border-radius: 15px 60% 0px 0%;
  padding: 1px 2px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  text-shadow: 1px 2px 3px rgba(0,0,0,0.7);
  color: white;
  background: linear-gradient(top bottom, #ecb51c 0%,#c40c05 100%);
  background: -moz-linear-gradient(top bottom, #ecb51c 0%,#c40c05 100%); 
  background: linear-gradient(to bottom, #db3e29 0%,#c40c05 100%);
  font-size: 1rem;
  font-weight: bold; /* Letra en negrita */
  margin: auto;
  
  
}










@media only screen and (min-width:768px) {
  header {
    width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.85);
        display: flex;
  }
  #view-colecction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   

}}
