/*
.ocultar {
    display:none;
}
 */

/* GENERALES*/

body {
    margin: 0 auto;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #E9E2D0;
	background: #222; 
	font-size: 1em;
	line-height: 1.5em;
} 
/*.left {
    left:25px;
}
.right {
    right: 25px;
  }
  
  .center {
    text-align: center;
  }
  
  .bottom {
    position: absolute;
    bottom: 25px;
  }*/

/* PRESENTACION DE LA DATA */

.section-data {
    background-color: #0c3d81;
    padding: 1em;
    margin: 1em;
}
#view-colecction {
    background-color: #80490b;
    flex-direction: row;
    flex-wrap: wrap;   /*Los elementos flex son colocados en varias líneas*/
    display: flex;
    justify-content: space-around;
    margin: 0;
    border-radius: 2rem;
    width: 1200px;
    height: 550px;
    overflow: scroll;
    padding: 1rem;
    
}

.individualcard {
    background-color: #e7dada;
    padding: 0;
    border-radius: 0.5rem;

}

.info {
    background-color: #DAB040;
    display: flex;
}
.portrait img {
    width: 50px;
    float: left;
    border-radius: 2rem;
    margin-right: 2rem;
    -webkit-filter: drop-shadow(5px 5px 5px #807a0b);
    -moz-filter: drop-shadow(5px 5px 5px #807a0b);
    filter: drop-shadow(5px 5px 5px #80490b);
  }











/* ejemplo de tarjeta */
#gradient {
    background: #999955;
    background-image: linear-gradient(#DAB040 20%, #D73B25 20%, #D73B25 40%, #C71B25 40%, #C71B25 00%, #901A39 00%, #901A39 80%, #00535 80%);
    margin: 0 auto;
    margin-top: 50px;
    width: 50%;
    height: 150px;
  }
  
  
  
  #card {
    position: absolute;
    width: 450px;
    height: 225px;
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
    left: 50%;
    top: 07.5px;
    margin-left: -250px;
    background: #E9E2D0;
    box-shadow: -5px 0 35px -25px black, 5px 0 35px -25px black;
    z-index: 5;
  }
 #card h2 {
    font-family: courier;
    color: #333;
    margin: 0 auto;
    padding: 0;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1rem;
  }
  
  #card p {
    font-family: courier;
    color: #555;
    font-size: 2rem;
    text-align: center;
  }